@model WebApplication.Models.Pais

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pais</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Foto" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    <h3>Estados</h3>

    <dl class="row">
        <dt class="col-sm-2">
            
        </dt>
        @foreach (var item in Model.Estados)
        {
    <dd class="col-sm-10">
        Nome: @Html.DisplayFor(modelItem => item.Nome)
    </dd>
            <br />
        }
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
